{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-3">
      <input type="hidden" id="id" name="id" value="{{dto.id}}" />
        <h3 align="center">상세보기</h3>
         <table class="table table-bordered">
            <tr align="center">
              <th width="150px">제목</th>
              <td width="150px">{{dto.title}}</td>
              <th width="150px">작성자</th>
              <td width="150px">{{dto.writer.username}}</td>
            </tr>
            <tr align="center">
              <th>작성일</th>
              <td colspan="3">{{dto.post_date}}</td>
            </tr>
            <tr align="center">
                <th>조회수</th>
                <td>{{dto.hit}}</td>
                <th>파일</th>
                <td>{{dto.filename}}</td>
            </tr>
            <tr align="center">
                <th>내용</th>
                <td colspan="3">{{dto.content}}</td>
            </tr>
        </table>
        <div align="center">
        <!--로그인ID와 작성시 로그인ID가 같으면 글 수정,삭제되도록 설정  -->
        {% if dto.writer.username == user.username  %}
        <button type="button" class="btn btn-primary update" data-uri="/update_form/{{dto.id}}">수정폼</button>
        <button type="button" class="btn btn-danger delete" data-uri="/delete/{{dto.id}}">삭제</button>
        {% endif %}
        </div>

        <form action="/comment_insert/" method="post" id="frm">
            <input type="hidden" name="id" value="{{dto.id}}"/>
            <div class="form-group">
              <label for="content" style="font-family: Jua;">댓글쓰기:</label>
              <textarea class="form-control" rows="5" id="content" name="content"></textarea>
            </div>
            <div align="right">
            <button type="button" class="btn btn-primary btn-sm _commentInsert">댓글추가</button>
            </div>
        </form>
<!-- board와 연관된 comment의 데이터를 가져와서 출력되도록 설정 -->
        <div style="font-family: Jua;">댓글:{{dto.comment_set.count}}</div> 
        {% if dto.comment_set.count > 0 %}
        <table class="table table-striped">
          {% for comment in dto.comment_set.all %}
            <tr>
              <th width="150px">{{comment.writer}}</th>
              <th width="150px">{{comment.post_date}}</th>
            </tr>
            <tr>
              <td>{{comment.content}}</td>
              <td>
                <a href=""><button type="button" class="btn btn-primary">수정</button></a>
                <a href=""><button type="button" class="btn btn-danger">삭제</button></a>
              </td>
            </tr>
          {% endfor %}
        </table>
        {% endif %}
    </div>
{% endblock %}
{% block script %}
    <script>
      $(document).ready(function(){
        //로그인여부(@login_required(login_url='/login/')로 로그인확인), 댓글입력여부
        $("._commentInsert").click(function(){
          // if("{{user.username}}"== ""){
          //   alert("로그인하세요")
          //   return
          // }
          if($("#content").val()==""){
            alert("댓글을 입력하세요")
            return
          }
          $("#frm").submit()
        })

        //수정폼과 삭제에 대한 처리
        $(".delete").on("click",function(){
          if(confirm("정말 삭제할까요?")){
            location.href=$(this).data('uri');
          }
        });
        $(".update").on('click', function() {
          location.href = $(this).data('uri');
        });

      })
    </script>
{% endblock %}